{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('wcs_wild_resa_calendar') }}">
            Back to the calendar
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/wcswildresa/js/checkboxes.js') }}"></script>
{% endblock %}
